@import url('https://fonts.googleapis.com/css?family=Arimo|Baloo+Bhaina');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #8B8BAE;
	font-family: 'Arimo', sans-serif;
	background-image: url("../images/milky-way-large.jpeg");
	background-size: cover;
	/*background-repeat: no-repeat;*/
	background-attachment: fixed;
}

h2 {
	background-color: #4E5166;
	margin: 10px 0;
	padding: 10px;
	font-family: 'Baloo Bhaina', cursive;
}

nav ul {
	/*padding: 10px;*/
	overflow: auto;
	background-color: #262630;
	list-style: none; /* This takes off the bullet points of list items in unordered list*/
	padding: 10px;
}

nav li {
	float: left;
	width: 33.33%;
	text-align: center;
}
nav a {
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	transition: .5s;
}

nav a:hover {
	color: #8B8BAE;
}

.header {
	padding: 10px 20px;
	/*background-image: url("../images/galaxy.jpeg");*/
	/*background-size: cover;*/
	/*background-position: center;*/
	color: #fff;
	text-align: center;
	font-family: 'Baloo Bhaina', cursive;
}

.main-content {
/*Added these two lines to make the content centered in the webpage.*/
	max-width: 800px;
	margin: 20px auto;
/*-------------------------------------------------------------------*/
	background-color: #262630;
	color: #fff;
	padding: 20px;
}

/*.img-50 {
	width: 25%;
	display: block;
	margin: 2% 0;
}*/

.float-left {
	float: left;
	width: 50%;
	margin: 0 20px 5px 0;
}

/* Forms ====================================================================*/

form{
	margin-top: 30px;
	width: 100%;
}

label {
	display: block;
	line-height: 20px;
	width: 250px;
	margin: 5px auto;
}

input {
	/*float: right;*/
	padding-right: 50px;
	margin: 10px auto;
}

textarea {
	/*padding: 0 65px 30px 0;*/
	margin-top: 10px;
}

button {
	margin: auto;
	font-size: 20px;
	display: block;
	background-color: #8B8BAE;
	color: #fff;
}







/* These are Utility Classes 
===============================================================================*/

.center-text {
	text-align: center;
}


/* Media Queries ---------------------------------------------------------------*/

@media only screen and (max-width: 480px) {
	nav a {
		font-size: 1.25em;
	}
}


